video {
        position: fixed;
        top: 28%;
        left: -51%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-49%) translateY(-56%);
    
}

img {
    position: fixed;
    top: 20%;
    left: 20%;
    width: auto;
    height: auto;
}

 

 